<li (click)="toggle()">
  <div class="characterInfo">
    @if(first()){
    <span class="first">This is the first item.<br>The list is {{listSize()}} items long</span>
    }@else if(last()){
      <span class="last">This is the last item</span>
    }
    <p>Character ID: {{character().id}}</p>
    <p>Character Name: {{character().name}}</p>
    @if(character().level){
      <p>Character Level: {{character().level}}</p>
      <p>Level Cap: {{character().levelCap}}</p>
      }@else{
      <p>This game doesn't have levels</p>
      }
    <p>Gear Quality: {{character().gearQuality}}</p>
    <p>Character Race: {{character().race}}</p>
    @switch (character().game){
      @case ('World of Warcraft') {<p id="WoW">Game: {{character().game}}</p>}
      @case ('Mortal Online II') {<p id="mortalOnline">Game: Mortal Online II</p>}
      @default {<p>Game: {{character().game}}</p>}
    }
  </div>

  <img src="/{{character().name}}{{character().game}}.jpg">
<!--  @switch (true){-->
<!--    @case (character().name === "Aelithiria" && character().game === "World of Warcraft"){-->
<!--      <img src="/AelithiriaWorld of Warcraft.jpg">-->
<!--    }-->
<!--    @case (character().name === "Kitiza" && character().game === "World of Warcraft"){-->
<!--      <img src="/KitizaWorld of Warcraft.jpg">-->
<!--    }-->
<!--    @case (character().name === "Vaelysong" && character().game === "World of Warcraft"){-->
<!--      <img src="/VaelysongWorld of Warcraft.jpg">-->
<!--    }-->
<!--    @case (character().name === "Keliza" && character().game === "World of Warcraft"){-->
<!--      <img src="/KelizaWorld of Warcraft.jpg">-->
<!--    }-->
<!--    @case (character().name === "Keliza" && character().game === "Mortal Online II"){-->
<!--      <img src="/KelizaMortal Online II.jpg">-->
<!--    }-->
<!--    @case (character().name === "Aelithiria" && character().game === "Mortal Online II"){-->
<!--      <img src="/AelithiriaMortal Online II.jpg">-->
<!--    }-->
<!--  }-->

  </li>
