*{
  margin: 0;
  padding: 0;
}

.even{
  background-color: blue;
}

.odd{
  background-color: orange;
}

h1{
  justify-self: center;
  font-size: 48px;
}

h2{
  font-size: 32px;
  justify-self: center;
  margin-bottom: 24px;
}

ul{
  display: grid;
  background-color: red;

}

li{
  background-color: red;
}

@media(width > 1200px){
  ul{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(width< 1200px){
  ul{
    grid-template-columns: 1fr 1fr;
  }
}

@media(width < 800px){
  ul{
    justify-self: center;
    grid-template-columns: 1fr;
  }
}
